@model EndlasNet.Data.WorkItem

@{
    ViewData["Title"] = "Initialize";
}

<h1>Initialize</h1>

<h4>Work item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

           
            <div class="form-group">
                <input type="submit" asp-action="Initialize" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-workId="@ViewBag.WorkId">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

