@model EndlasNet.Data.LaserQuoteSession

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LaserQuoteSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LaserQuoteSessionId" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFlowRateAnalytical" /> @Html.DisplayNameFor(model => model.IsFlowRateAnalytical)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FinishedPartWeight" class="control-label"></label>
                <input asp-for="FinishedPartWeight" class="form-control" />
                <span asp-validation-for="FinishedPartWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumLayers" class="control-label"></label>
                <input asp-for="NumLayers" class="form-control" />
                <span asp-validation-for="NumLayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumParts" class="control-label"></label>
                <input asp-for="NumParts" class="form-control" />
                <span asp-validation-for="NumParts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartChangeoverTimeHr" class="control-label"></label>
                <input asp-for="PartChangeoverTimeHr" class="form-control" />
                <span asp-validation-for="PartChangeoverTimeHr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartSurfaceAreaSqIn" class="control-label"></label>
                <input asp-for="PartSurfaceAreaSqIn" class="form-control" />
                <span asp-validation-for="PartSurfaceAreaSqIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SetupTimeMin" class="control-label"></label>
                <input asp-for="SetupTimeMin" class="form-control" />
                <span asp-validation-for="SetupTimeMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingWeightFactor" class="control-label"></label>
                <input asp-for="ShippingWeightFactor" class="form-control" />
                <span asp-validation-for="ShippingWeightFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArgonCost" class="control-label"></label>
                <input asp-for="ArgonCost" class="form-control" />
                <span asp-validation-for="ArgonCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstPowerCost" class="control-label"></label>
                <input asp-for="EstPowerCost" class="form-control" />
                <span asp-validation-for="EstPowerCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourlyLaborRate" class="control-label"></label>
                <input asp-for="HourlyLaborRate" class="form-control" />
                <span asp-validation-for="HourlyLaborRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourlyUseRate" class="control-label"></label>
                <input asp-for="HourlyUseRate" class="form-control" />
                <span asp-validation-for="HourlyUseRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FringeRate" class="control-label"></label>
                <input asp-for="FringeRate" class="form-control" />
                <span asp-validation-for="FringeRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfitRate" class="control-label"></label>
                <input asp-for="ProfitRate" class="form-control" />
                <span asp-validation-for="ProfitRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverheadRate" class="control-label"></label>
                <input asp-for="OverheadRate" class="form-control" />
                <span asp-validation-for="OverheadRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteSessionId" class="control-label"></label>
                <select asp-for="QuoteSessionId" class="form-control" asp-items="ViewBag.QuoteSessionId"></select>
                <span asp-validation-for="QuoteSessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionalLaserServicesId" class="control-label"></label>
                <select asp-for="OptionalLaserServicesId" class="form-control" asp-items="ViewBag.OptionalLaserServicesId"></select>
                <span asp-validation-for="OptionalLaserServicesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
