@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Endlas Net</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-cyborg.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom-style.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="text-center">
                        <img src="~/img/endlasLogo.png" title="Go to home page" alt="" width="135" height="50" />
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (Context.Session.GetString("userId") != null)
                        {
                            <li class="nav-item" style="margin-left:6px;margin-right:6px">
                                <a class="nav-link text-black-50" asp-area="" asp-controller="Home" asp-action="Users">Users</a>
                            </li>
                            <li class="nav-item" style="margin-left:6px;margin-right:6px">
                                <a class="nav-link text-black-50" asp-area="" asp-controller="Home" asp-action="Inventory">Inventory</a>
                            </li>
                            <li class="nav-item" style="margin-left:6px;margin-right:6px">
                                <a class="nav-link text-black-50" asp-area="" asp-controller="Home" asp-action="Work">Work</a>
                            </li>
                            <li class="nav-item" style="margin-left:6px;margin-right:6px">
                                <a class="nav-link text-black-50" asp-area="" asp-controller="Home" asp-action="Action">Action</a>
                            </li>
                            <li class="nav-item" style="margin-left:6px;margin-right:6px">
                                <a class="nav-link text-black-50" asp-area="" asp-controller="Home" asp-action="Environments">Environment</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-black-50" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div>
            </div>

            @if (Context.Session.GetString("userId") != null)
            {
                <div class="text-center">
                    <a asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                </div>
            }
            <a class="nav-link text-black-50" asp-area="" asp-controller="Home" asp-action="Help">Help</a>

            <a class="navbar-brand" href="https://app.smartsheet.com/b/home?_ga=2.153976507.267216971.1611743518-1850135157.1611743518">

                <div class="text-center">
                    <img src="~/img/smartsheetLogo.png" title="Go to Smartsheet login" width="50" height="50" />
                </div>

            </a>
            <div style="padding-right:1em">
                <img src="~/img/american_flag.jpg" title="Go to home page" alt="" width="105" height="50" />
            </div>
            <span>
                @Context.Session.GetString("firstname") @Context.Session.GetString("lastname")
            </span>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span>
                &copy; Endlas Net - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> &nbsp; | &nbsp;
                <a asp-area="" asp-controller="Home" asp-action="UpdateNotes">
                    Update notes
                </a> &nbsp; | &nbsp;
                <a asp-controller="Home" asp-action="ViewErd">View ERD</a>
            </span>
        </div>
        <div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js" type="application/json"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="application/json"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
