
<h1>Inventory</h1>
<body>
    <div>
        <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Vendors">Vendors</a>
        <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Inserts">Inserts</a>
    </div>
    <div class="container">

    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EndlasNet.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

</body>

