@model EndlasNet.Data.Quote

<h4>Quote</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.EndlasNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.EndlasNumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ShortDescription)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ShortDescription)
    </dd>
</dl>