@model EndlasNet.Data.PartForWorkOrder

@{
    ViewData["Title"] = "Details";
    string imageName = "NA";
    string imageUrl = "NA";
    if (Model.PartForWorkImg != null)
    {
        imageName = Model.PartForWorkImg.ImageName;
        imageUrl = Model.PartForWorkImg.ImageUrl;
    }
}

<h1>Details</h1>
<div>
    @await Html.PartialAsync("_DetailsAndDelete", Model)
</div>
<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model.PartForWorkId">Edit</a> |
    @Html.ActionLink("Back to list", "BackToList", new { id = Model.PartForWorkId, workId = Model.WorkId, partInfoId = Model.StaticPartInfoId })
</div>
