@model EndlasNet.Data.RawMaterial

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RawMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PowderType" class="control-label"></label>
                <input asp-for="PowderType" class="form-control" />
                <span asp-validation-for="PowderType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowderLayerPrice" class="control-label"></label>
                <input asp-for="PowderLayerPrice" class="form-control" />
                <span asp-validation-for="PowderLayerPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CladLayerDensity" class="control-label"></label>
                <input asp-for="CladLayerDensity" class="form-control" />
                <span asp-validation-for="CladLayerDensity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowderFeeder" class="control-label"></label>
                <input asp-for="PowderFeeder" class="form-control" />
                <span asp-validation-for="PowderFeeder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawMaterialEmpiricalId" class="control-label"></label>
                <select asp-for="RawMaterialEmpiricalId" class ="form-control" asp-items="ViewBag.RawMaterialEmpiricalId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
