@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Work";
}
@if (Context.Session.GetString("userId") != null)
{
    <h1 class="display-4">Work</h1>

    <body>
        <div>
            <ul>
                <li>
                    <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Jobs">Jobs</a>
                </li>
                <li>
                    <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Work">Work orders</a>
                </li>

            </ul>
        </div>
        <div class="container">

        </div>

    </body>
}
else
{
    <div>
        Please
        <a asp-area="" asp-controller="Login" asp-action="Index">
            Login
        </a>
    </div>
}

