@model EndlasNet.Data.RawMaterial_LaserQuoteSession

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RawMaterial_LaserQuoteSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RawMaterialId" class="control-label"></label>
                <select asp-for="RawMaterialId" class ="form-control" asp-items="ViewBag.RawMaterialId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LaserQuoteSessionId" class="control-label"></label>
                <select asp-for="LaserQuoteSessionId" class ="form-control" asp-items="ViewBag.LaserQuoteSessionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PowerInWatts" class="control-label"></label>
                <input asp-for="PowerInWatts" class="form-control" />
                <span asp-validation-for="PowerInWatts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgThicknessIn" class="control-label"></label>
                <input asp-for="AvgThicknessIn" class="form-control" />
                <span asp-validation-for="AvgThicknessIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpotSizeMm" class="control-label"></label>
                <input asp-for="SpotSizeMm" class="form-control" />
                <span asp-validation-for="SpotSizeMm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PercentBeadOverlap" class="control-label"></label>
                <input asp-for="PercentBeadOverlap" class="form-control" />
                <span asp-validation-for="PercentBeadOverlap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurfaceVelocityMmPerSec" class="control-label"></label>
                <input asp-for="SurfaceVelocityMmPerSec" class="form-control" />
                <span asp-validation-for="SurfaceVelocityMmPerSec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowderRpm" class="control-label"></label>
                <input asp-for="PowderRpm" class="form-control" />
                <span asp-validation-for="PowderRpm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstCaptureEffeciency" class="control-label"></label>
                <input asp-for="EstCaptureEffeciency" class="form-control" />
                <span asp-validation-for="EstCaptureEffeciency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessingFlowRateLiPerMin" class="control-label"></label>
                <input asp-for="ProcessingFlowRateLiPerMin" class="form-control" />
                <span asp-validation-for="ProcessingFlowRateLiPerMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LayerSurfaceAreaSqIn" class="control-label"></label>
                <input asp-for="LayerSurfaceAreaSqIn" class="form-control" />
                <span asp-validation-for="LayerSurfaceAreaSqIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
