
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<!DOCTYPE html>
<style>
    form {
        display: inline;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/custom-style.css" />
</head>
<body>

    <center>
        <br />
        <div>
            @if (ViewBag.IsUserLoggedIn == "false")
            {
                <p><font color="red">Username or password is incorrect.</font></p>
            }
        <form method="post">
            <input type="text" name="email" placeholder="Email Address" style="width: 300px;" required><br><br>
            <input type="password" name="pwd" placeholder="Password" style="width: 300px;" required><br><br>

            <input class="button-area" id="custominput" asp-area="" asp-controller="Login" asp-action="LoginSubmit" type="submit" value="Log in">

        </form>
            <span></span>
            <div>
                <a id="aforgotpwd" asp-area="" asp-controller="ForgotPwd" asp-action="Index">Forgot password?</a>
            </div>
</center>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>

