

#custominput {
    background-color: #808080; /* Gray */
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#custominput:hover {
    background-color: #404040;
    color: white; /* SET COLOR IN BLACK */
}

#aforgotpwd {
    text-align: center;
    font-size: 12px;
}

#acreateaccound {
    text-align: center;
    font-size: 11px;
}

#labelnotuser {
    text-align: center;
    font-size: 11px;
}

#isloggedin {
    text-align: center;
    font-size: 14px;
}

#h6welcome {
    text-align: center;
}
