@model EndlasNet.Data.Quote

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuoteId" />
            <div class="form-group">
                <label asp-for="PowderDirectTotal" class="control-label"></label>
                <input asp-for="PowderDirectTotal" class="form-control" />
                <span asp-validation-for="PowderDirectTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasTotal" class="control-label"></label>
                <input asp-for="GasTotal" class="form-control" />
                <span asp-validation-for="GasTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnergyTotal" class="control-label"></label>
                <input asp-for="EnergyTotal" class="form-control" />
                <span asp-validation-for="EnergyTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingTotal" class="control-label"></label>
                <input asp-for="ShippingTotal" class="form-control" />
                <span asp-validation-for="ShippingTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CogsTotal" class="control-label"></label>
                <input asp-for="CogsTotal" class="form-control" />
                <span asp-validation-for="CogsTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaborDirectTotal" class="control-label"></label>
                <input asp-for="LaborDirectTotal" class="form-control" />
                <span asp-validation-for="LaborDirectTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FringeTotal" class="control-label"></label>
                <input asp-for="FringeTotal" class="form-control" />
                <span asp-validation-for="FringeTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfitTotal" class="control-label"></label>
                <input asp-for="ProfitTotal" class="form-control" />
                <span asp-validation-for="ProfitTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverheadTotal" class="control-label"></label>
                <input asp-for="OverheadTotal" class="form-control" />
                <span asp-validation-for="OverheadTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteSessionId" class="control-label"></label>
                <select asp-for="QuoteSessionId" class="form-control" asp-items="ViewBag.QuoteSessionId"></select>
                <span asp-validation-for="QuoteSessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
