@using EndlasNet.Data;
@using EndlasNet.Web.Models;

@model EndlasNet.Web.Models.DropDownViewModels.WorkItemDropDownViewModel

@{
    ViewData["Title"] = "Create";
    var workStr = ViewBag.WorkStr;

}

<h1>Create</h1>

<h4>Machining tool for work</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGetWorkItems" enctype="multipart/form-data">

            <label class="control-label">Work</label>
            <input asp-for="@workStr" class="form-control" readonly />

            <br />

            <label asp-for="WorkItemId" class="control-label"></label>
            <select asp-for="WorkItemId" class="form-control" asp-items="ViewBag.WorkItemId"></select>

            <br />

            <input type="submit" value="Use a machining tool" class="btn btn-primary" />

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
