@using EndlasNet.Data;
@using EndlasNet.Web.Models;
@model EndlasNet.Data.Work

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Machining tool for work</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGetWork" enctype="multipart/form-data">

            <label asp-for="WorkId" class="control-label">Work</label>
            <select asp-for="WorkId" class="form-control" asp-items="ViewBag.WorkId"></select>

            <br />

            <input type="submit" value="Get work items" class="btn btn-primary" />

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
