@using EndlasNet.Data;
@model EndlasNet.Data.MachiningToolForWork

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Machining tool for work</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MachiningToolForWorkId" />
            <div class="form-group">
                <label asp-for="DateUsed" class="control-label"></label>
                <input asp-for="DateUsed" class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" value="@Model.DateUsed.ToString("s")" />
                <span asp-validation-for="DateUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachiningToolId" class="control-label"></label>
                <select asp-for="MachiningToolId" class="form-control" asp-items="ViewBag.MachiningToolId"></select>
            </div>

            <div class="form-group">
                <label asp-for="MachiningType" class="control-label"></label>
                <div class="form-group">
                    @Html.DropDownListFor(m => m.MachiningType, new SelectList(Enum.GetValues(typeof(MachiningTypes)), new { @class = "form-control" }))
                </div>                <span asp-validation-for="MachiningType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
