@model EndlasNet.Data.PartForWorkImg

@{
    ViewData["Title"] = "Delete";

}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Part for work image</h4>
    <hr />
    <h6 style="color:lightgray" class="col-md-10 col-sm-10 col-lg-10">
        Title:
        <em>
            @Html.DisplayFor(model => model.ImageName)
        </em>
    </h6>

    <div class="col-sm-2">
       
        <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Drawing Image" />
        
    </div>
    <br />

    <form asp-action="Delete" asp-route-id="@Model.PartForWorkImgId">
        <input type="hidden" asp-for="PartForWorkImgId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to list</a>
    </form>
</div>
