@model EndlasNet.Data.Part

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Part</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PartId" />
            <div class="form-group">
                <label asp-for="DrawingNumber" class="control-label"></label>
                <input asp-for="DrawingNumber" class="form-control" />
                <span asp-validation-for="DrawingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionDescription" class="control-label"></label>
                <input asp-for="ConditionDescription" class="form-control" />
                <span asp-validation-for="ConditionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitWeight" class="control-label"></label>
                <input asp-for="InitWeight" class="form-control" />
                <span asp-validation-for="InitWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CladdedWeight" class="control-label"></label>
                <input asp-for="CladdedWeight" class="form-control" />
                <span asp-validation-for="CladdedWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessingNotes" class="control-label"></label>
                <input asp-for="ProcessingNotes" class="form-control" />
                <span asp-validation-for="ProcessingNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrawingImage" class="control-label"></label>
                <input asp-for="DrawingImage" class="form-control" />
                <span asp-validation-for="DrawingImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

