@using EndlasNet.Data;
@using EndlasNet.Web.Models;
@model EndlasNet.Web.Models.PowderForPartViewModel

@{
    ViewData["Title"] = "Create";



}

<h1>Create</h1>

<h4>Powder for part</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="CreateGetWork">
            <label asp-for="Work.WorkId" class="control-label"></label>
            <select asp-for="Work.WorkId" class="form-control" asp-items="ViewBag.WorkId" id="workID"></select>
            <br />
            <button type="button" onclick="getParts()" class="btn-primary">Get parts</button>
            <input type="submit" value="submit" class="btn btn-primary" />
        </form>
    <div id="parts"></div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>
<script src="/js/util.js" ></script>
<script src="/js/ajax-common.js"></script>

<script>

    const URL = "https://localhost:5001/PowderForParts/CreateGetWork";

    function getParts() {
        let req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                console.log(this.response);
            }
        };

        req.open("GET", URL + "/" + getValue("workID"));
       @* req.setRequestHeader("Content-Type", "application/json");*@
        req.send();
    }


</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
