@using EndlasNet.Web.Models; 
@using EndlasNet.Data;
@model IEnumerable<EndlasNet.Web.Models.CheckBoxInfo>

@{
    ViewData["Title"] = "Create";
    var workDesc = ViewBag.WorkDescription;
    var vm = ViewBag.vm;
}

<h1>Create</h1>

<h4>Powder for part</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <label class="control-label">Work</label>
            <input asp-for="@workDesc" class="form-control" readonly />
        </div>
        <br />
        <span>Parts</span>

        @using (Html.BeginForm("CreateWithWorkSet", "PowderForParts", FormMethod.Post))
        {
            <table>
                <thead>
                    @foreach (var box in Model)
                    {
                        <tr>
                            <td>
                                @box.Label
                            </td>
                            <td>
                                <input asp-for="@box.IsChecked" class="form-control" style="min-height:30px;min-width:30px" />
                            </td>
                        </tr>
                    }
                </thead>
            </table>
            <input type="submit" value="submit" class="btn btn-primary" />
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

<script type="text/javascript">
   
    //Send the JSON array to Controller using AJAX.
    $.ajax({
        type: "POST",
        url: "/PowderForParts/CreateWithWorkSet",
        data: JSON.stringify(customers),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
    });
   

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
