@using EndlasNet.Data;
@model EndlasNet.Data.Work

@{
    ViewData["Title"] = "Create";



}

<h1>Create</h1>

<h4>Powder for part</h4>
<hr />
<div class="row">
    <div class="col-md-4">
         
        @using (Html.BeginForm("CreatePostWork", "PowderForParts", FormMethod.Post))
        {
            <label asp-for="WorkId" class="control-label"></label>
            <select asp-for="WorkId" class="form-control" asp-items="ViewBag.WorkId"></select>
            <br />
            <input type="submit" value="submit" class="btn btn-primary"  />
        }

    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
