@model EndlasNet.Data.PowderForPart

@{
    ViewData["Title"] = "Details";
    var powderWeightUsedStr = string.Format("{0:0.00000}", Model.PowderWeightUsed);
}

<h1>Details</h1>
<div>
    @await Html.PartialAsync("_DetailsAndDelete", Model)
</div>
<br />

<div>
    <a asp-action="Index">Back to list</a>
</div>
