@using System;
@using EndlasNet.Data;
@using System.Collections.Generic;
@model IEnumerable<EndlasNet.Data.PartForJob>

@{
    ViewData["Title"] = "Parts for jobs";
}

<h1>Parts for jobs</h1>

<p>
    <a asp-action="Create">Initialize new part batch</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <div>
                    Part drawing image
                </div>
               
            <th>

                <div>
                    Job number
                </div>
               
            </th>
            <th>
                <div>
                    Part drawing number
                </div>
            </th>
            <th>
                <div>
                    Part count
                </div>
            </th>
         
            <th></th>
        </tr>
    </thead>



    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <img src=@Html.DisplayFor(modelItem => item.StaticPartInfo.ImageURL) alt="Drawing Image" style="max-width:50px;max-height:50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Work.EndlasNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaticPartInfo.DrawingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumParts)
                </td>
                <td>
               
                    @Html.ActionLink("View list", "ViewList", new { id = item.PartForWorkId, workId = item.WorkId, partInfoId = item.StaticPartInfoId })
                </td>
            </tr>
        }
    </tbody>
</table>

