@model EndlasNet.Data.LineItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    @await Html.PartialAsync("_DetailsAndUninitialize", Model)
</div>
s
<div>
    <a asp-action="Edit" asp-route-id="@Model.LineItemId">Edit</a> |
    @Html.ActionLink("Back to list", "Index", new { powderOrderId = Model.PowderOrderId })
</div>
