@model EndlasNet.Data.LineItem

@{
    ViewData["Title"] = "Uninitialize";
}

<h1>Uninitialize</h1>

<h3>Are you sure you want to uninitialize this?</h3>
<div>
    <div>
        @await Html.PartialAsync("_DetailsAndUninitialize", Model)
    </div>
    
    <form asp-action="Uninitialize">
        <input type="hidden" asp-for="LineItemId" />
        <input type="submit" value="Uninitialize" class="btn btn-danger" /> |
        @Html.ActionLink("Back to list", "Index", new { powderOrderId = Model.PowderOrderId})
    </form>
</div>
