@model EndlasNet.Data.PartForWorkOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Part for work order</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="application/x-www-form-urlencoded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkId" class="control-label">Job</label>
                <select asp-for="WorkId" class="form-control" asp-items="ViewBag.WorkId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StaticPartInfoId" class="control-label">Part information</label>
                <select asp-for="StaticPartInfoId" class="form-control" asp-items="ViewBag.StaticPartInfoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumParts" class="control-label"></label>
                <input asp-for="NumParts" class="form-control" />
                <span asp-validation-for="NumParts" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="StartSuffix" class="control-label"></label>
                    <input asp-for="StartSuffix" class="form-control" />
                    <span asp-validation-for="StartSuffix" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
