@using System;
@using EndlasNet.Data;
@using System.Collections.Generic;
@model IEnumerable<EndlasNet.Web.Models.PartsForWorkMinimizedViewModel>

@{
    ViewData["Title"] = "Parts for work orders";
}
<a asp-action="Work" asp-controller="Home">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Work
    </span>
</a>
<h1>Parts for work orders</h1>

<p>
    <a asp-action="Create">Initialize new part batch</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <div>
                    Part drawing image
                </div>
            <th>
                <div>
                    Work order number
                </div>
            </th>
            <th>
                <div>
                    Part drawing number
                </div>
            </th>
            <th>
                <div>
                    Part count
                </div>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src=@Html.DisplayFor(modelItem => item.StaticPartInfo.ImageUrl) alt="Drawing Image" style="max-width:75px;max-height:60px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaticPartInfo.DrawingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartCount)
                </td>
                <td>
                    @Html.ActionLink("View list", "ViewList", new { id = item.PartForWorkId, workId = item.WorkId, partInfoId = item.StaticPartInfo.StaticPartInfoId })
                </td>
            </tr>
        }
    </tbody>
</table>

