@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Users";
}
<h1 class="display-4">Users</h1>
@if (Context.Session.GetString("userId") != null)
{
    <body>
        <div>
            <ul>
                <li>
                    <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Admins">Admins</a>
                </li>
                <li>
                    <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Employees">Employees</a>
                </li>
            </ul>
        </div>
        <div class="container">

        </div>

    </body>
}
else
{
    <div>
        Please
        <a asp-area="" asp-controller="Login" asp-action="Index">
            Login
        </a>
    </div>
}

