@{
    ViewData["Title"] = "Users";
}
<h1 class="display-4 inventory-header">Users</h1>
<body>
    <div>
        <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Admins">Admins</a>
        <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Employees">Employees</a>
    </div>
    <div class="container">

    </div>

</body>
