@model IEnumerable<EndlasNet.Data.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<body>
    <div>
        <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Admins">Admins</a>
        <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Employees">Employees</a>
    </div>
    <div class="container">

    </div>

</body>
