@model EndlasNet.Data.Vendor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    @await Html.PartialAsync("_DetailsAndDelete", Model)
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.VendorId">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
