@model EndlasNet.Data.PowderBottle

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<div>
    <div>
        @await Html.PartialAsync("_DetailsAndDelete", Model)
    </div>

    <form asp-action="Delete" asp-controller="PowderBottles">
        <input type="hidden" asp-for="PowderBottleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
    @Html.ActionLink("Line item powders", "Index", "PowderBottles", new { lineItemId = Model.LineItemId }) |
    @Html.ActionLink("All powders", "AllPowderIndex", "PowderBottles")
</div>
