@model EndlasNet.Data.PowderBottle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @await Html.PartialAsync("_DetailsAndDelete", Model)
</div>
<div>

    <a asp-action="Edit" asp-controller="PowderBottles" asp-route-id="@Model.PowderBottleId">Edit</a> |
    @Html.ActionLink("Line item powders", "Index", "PowderBottles", new { lineItemId = Model.LineItemId }) |
    @Html.ActionLink("All powders", "AllPowderIndex", "PowderBottles")
</div>
