@model EndlasNet.Data.PowderBottle

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Powder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="PowderBottles" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="PowderBottleId" asp-items="ViewBag.PowderId" hidden readonly />
            <div class="form-group">
                <label asp-for="BottleNumber" class="control-label"></label>
                <input asp-for="BottleNumber" class="form-control" />
                <span asp-validation-for="BottleNumber" class="text-danger"></span>
                @if(ViewBag.BottleNumberConflict == "true")
                {
                    <span class="text-danger">Bottle number @Model.BottleNumber already exists.</span>
                }
            </div>

            <div class="form-group">
                <label asp-for="InitWeight" class="control-label"></label>
                <input asp-for="InitWeight" class="form-control" />
                <span asp-validation-for="InitWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
                @if(ViewBag.IsWeightValid == "false")
                {
                    <span class="text-danger">Weight must be &le; initial weight.</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="LotNumber" class="control-label"></label>
                <input asp-for="LotNumber" class="form-control" />
                <span asp-validation-for="LotNumber" class="text-danger"></span>
            </div>
            <input asp-for="LineItemId" class="form-control" asp-items="ViewBag.LineItemId" hidden readonly />
            <input asp-for="StaticPowderInfoId" asp-items="ViewBag.StaticPowderInfoId" hidden readonly />
            <div class="form-group">
                <input type="submit" value="Save" asp-controller="PowderBottles" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Line item powders", "Index", "PowderBottles", new { lineItemId = Model.LineItemId }) |
    @Html.ActionLink("All powders", "AllPowderIndex", "PowderBottles")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
