@using EndlasNet.Data
@model EndlasNet.Data.MachiningTool

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/custom-style.css" />
</head>
<h1>Create</h1>

<h4>Machining tool</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToolType" class="control-label"></label>
                <div>
                    @Html.DropDownListFor(m => m.ToolType, new SelectList(Enum.GetValues(typeof(ToolTypes))))
                </div>
                <span asp-validation-for="ToolType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolDiameter" class="control-label"></label>
                <input asp-for="ToolDiameter" class="form-control" />
                <span asp-validation-for="ToolDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorDescription" class="control-label"></label>
                <input asp-for="VendorDescription" class="form-control" />
                <span asp-validation-for="VendorDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolCount" class="control-label"></label>
                <input asp-for="ToolCount" class="form-control" />
                <span asp-validation-for="ToolCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrderNum" class="control-label"></label>
                <input asp-for="PurchaseOrderNum" class="form-control" />
                <span asp-validation-for="PurchaseOrderNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrderDate" class="control-label"></label>
                <input asp-for="PurchaseOrderDate" class="form-control" />
                <span asp-validation-for="PurchaseOrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrderPrice" class="control-label"></label>
                <input asp-for="PurchaseOrderPrice" class="form-control" />
                <span asp-validation-for="PurchaseOrderPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceNumber" class="control-label"></label>
                <input asp-for="InvoiceNumber" class="form-control" />
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendorId" class="control-label"></label>
                <select asp-for="VendorId" class="form-control" asp-items="ViewBag.VendorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

