<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Contact";
}
<h1 class="display-4">@ViewData["Title"]</h1>


<p>
    <div style="color:white;font-size:18px;">Josh Hammell</div>
    <div>
        <span>Email: <a href="malito:josh.hammell@endlas.com">josh.hammell@endlas.com</a></span>
    </div>
</p>
<p>
    <div style="color:white;font-size:18px;">James Tomich</div>
    <div>
        Email: <a href="malito:james.tomich@endlas.com">james.tomich@endlas.com</a>
    </div>
</p>
<p>
    <div style="color:white;font-size:18px;">Brett Trotter</div>
    <span>Email: <a href="malito:blt@endlas.com">blt@endlas.com</a></span>
</p>
<p>
    <div style="color:white;font-size:16px;">Developer: Nate Saunders</div>
    <div>
        Email: <a href="malito:nathan.saunders@endlas.com">nathan.saunders@endlas.com</a>
    </div>
</p>
