@{
    ViewData["Title"] = "Contact";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>
    <div>Developer: Nate Saunders</div>
    <div>
    <span>Email: <a href="malito:nathan.saunders@endlas.com?subject=text">nathan.saunders@endlas.com</a></span>
</div>
</p>
<p>
    <div>Contact: Josh Hammell</div>
    <div>Email: josh.hammell@endlas.com</div>
</p>
<p>
    <div>Contact: James Tomich</div>
    <div>Email: james.tomich@endlas.com</div>
</p>
<p>
    <div>Contact: Brett Trotter</div>
    <div>Email: blt@endlas.com</div>
</p>
