<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Help";
}
<h1 class="display-4">@ViewData["Title"]</h1>


<p>
    <div style="color:white;font-size:18px;">Help</div>
    <div>
        <span>~ Help me</span>
    </div>
</p>
