@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc;

<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Context.Session.GetString("userId") != null)
    {
        <h2 class="display-4">@Context.Session.GetString("firstname")</h2>
        <img src="~/img/laserBeam.png" width="1020" height="70" />
        <h1>Welcome to Endlas Net</h1>
    }
    else
    {
        <h1 class="display-4">Endlas Net</h1>

        <img src="~/img/laserBeam.png" />


        <p style="color:white;font-size:18px;">


            <a asp-area="" asp-controller="Login" asp-action="Index">
                Login
            </a>
            to Endlas Net.
        </p>
    }
    <p>Learn about <a href="https://endlas.com">Endlas LC</a>.</p>
    <a asp-area="" asp-controller="Home" asp-action="Issues">
        Issues and todo
    </a>
</div>
