@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc;
<link rel="stylesheet" href="~/css/custom-style.css" type="text/css"/>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Context.Session.GetString("userId") != null)
    {
        <h2 class="display-4">@Context.Session.GetString("firstname"),</h2>
        <h1>Welcome to Endlas Net</h1>
        <span>
            <img id="imglonglaser" src="~/img/longLaser.png" />
        </span>
    }
    else
    {
        <h1 class="display-4">Endlas Net</h1>
        <span>
            <img id="imglonglaser" src="~/img/longLaser.png" />
        </span>
        <a class="ahomelogin" asp-area="" asp-controller="Login" asp-action="Index">
            Login
        </a>
        <span>to Endlas Net</span>
    }
    <p>Learn about <a href="https://endlas.com">Endlas LC</a>.</p>
</div>
