@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc;
<!DOCTYPE html>
<style>
    form {
        display: inline;
    }
</style>
<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Context.Session.GetString("userId") != null)
    {
        <h2 class="display-4">@Context.Session.GetString("firstname")</h2>
        <h1 class="display-4">
            Welcome to Endlas Net
            <img src="~/img/laserBeam.png" width="1020" height="70" />
        </h1>
    }
    else
    {
        <h1 class="display-4">
            Endlas Net
            <img src="~/img/laserBeam.png" />
        </h1>
     
        <div>
            @if (ViewBag.IsUserLoggedIn == "false")
            {
                <p><font color="red">Username or password is incorrect.</font></p>
            }
        </div>
        <div style="align-content:flex-start">
            <form method="post">
                <div class="form-group">
                    <input type="text" name="email" placeholder="Endlas login" style="width: 250px;" required /><br><br>
                    <input type="password" name="pwd" placeholder="Password" style="width: 250px;" required />
                    <br><br>

                    <input class="button-area" id="custominput" asp-area="" asp-controller="Login" asp-action="LoginSubmit" type="submit" value="Log in">
                </div>
            </form>
        </div>
        <span></span>
        <div>
            <a id="aforgotpwd" asp-area="" asp-controller="ForgotPwd" asp-action="Index">Forgot password?</a>
        </div>
    }
    <br/>
    <p>Learn about <a href="https://endlas.com">Endlas LC</a>.</p>

</div>
