@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Inventory";
}
@if (Context.Session.GetString("userId") != null)
{
    <h1 class="display-4">Inventory</h1>

    <body>
        <div>

            <a style="font-size:x-large;" class="navbar-toggler" type="button" asp-action="Index" asp-controller="Vendors">Vendors</a>

            <ul>         
                <li>
                    <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Powders">Powders</a>
                <li>
                    <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="MachiningTools">Tooling</a>
                </li>

            </ul>
        </div>
        <div class="container">

        </div>

    </body>
}
else
{
    <div>
        Please
        <a asp-area="" asp-controller="Login" asp-action="Index">
            Login
        </a>
    </div>
}


