<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Issues and todo";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>
    <div style="color:white;font-size:18px;">Todo</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                Help tab development.
            </li>
            <li>
                Put in checks for logins in every view that can access the db.
            </li>
            <li>
                Fix the edit view for PartForWork. Remove number of parts from the view.
            </li>
            <li>
                Machining tool: Add an InvoiceNumber (string)
            </li>

            <li>
                Powder: Change weight to automatically set to initial weight upon creation.
            </li>
            <li>
                In static part information: see if can get a thumbnail to appear with drawing number.. remove image title from index and approx weight.
                Make the thumbnail open details of the static part info.
            </li>
            <li>
                Parts for jobs: Find a good way to clean up and organize the index. 
            </li>
            <li>
                In part for job: give a way to start the suffix character at something other than 'A'.
            </li>
            <li>
                In part for job: on Index, make rows collapse into similar PartInfo foreign key references
            </li>
            <li>
                Work on tool for job and powder for job.
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Known issues</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                On PartForWork views, the edit view has number of parts as a field to edit. This field needs to be above 0, but
                the value isn't used for anything in the controller. If the number of parts set is valid, all the other changes will apply to the entity.
            </li>
            <li>
                Some views do not have login protection implemented yet.
            </li>
            <li>
                On the dropdown for job in part for job, the dropdown will show work orders in addition the the jobs.
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                change the u to a 'mu' in Powder
            </li>
           
        </ul>
    </div>
</p>
