<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Issues";
}
<h1 class="display-4">@ViewData["Title"]</h1>


<p>
    <div style="color:white;font-size:18px;">Known issues</div>
    <div>
       <ul>
           <li>
               When a user is deleted, all database entries made by that user (where user is referenced) will cascade delete.
           </li>
           <li>
               Some views do not have login protection implemented yet.
           </li>
           <li>
               When creating or editing a part, adding a part image is not optional.
           </li>
       </ul>
    </div>
</p>
