<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Patch notes and issues";
}
<h1 class="display-4">@ViewData["Title"]</h1>


<p>
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <div>
        <ul>
            <li>
                Remove the time of day from PO Date (in Tools create/edit). When adding a tool, the time of day cannot be removed from the user input
                (because date time has to have that portion of the data filled out). I did change the display values to only show the mm/dd/yyyy, however.
            </li>
            <li>
                Change name of parts to part-types (or something better if I can think of it) -> PartInfo
            </li>
            <li>
                Change over the already defined columns from part-info/type to job parts and work order parts. Did major back-end refactor.
                Now parts for jobs/work orders is all stored in a table named parts. There is a discriminator column to differentiate.
            </li>
            <li>
                Fixed up all UI elements in existing views. Headers and text formatting is all correct now (I think).
            </li>
            <li>
                Allow part-info image to be null (you don't have to set it when creating or editing).
            </li>
            <li>
                Stop user deletes from cascading.
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Tasks</div>
    <div>
        <ul>  
            <li>
                Help tab development.
            </li>
            <li>
                Add an @@endlas.com automatically so user doesn't have to type the last part of the email address.
            </li>
            <li>
                Put in checks for logins in every view that can access the db.
            </li>

        </ul>
    </div>
    <div style="color:white;font-size:18px;">Known issues</div>
    <div>
        <ul>
            <li>
                Some views do not have login protection implemented yet.
            </li>
            <li>
                When creating or editing a part, adding a part image is not optional.
            </li>
        </ul>
    </div>
</p>
