<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Issues";
}
<h1 class="display-4">@ViewData["Title"]</h1>


<p>
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <div>
        <ul>
            <li>
            </li>
            <li>
            </li>
            <li>
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Tasks</div>
    <div>
        <ul>
            <li>
                Remove the time of day from PO Date (in Tools create/edit).
            </li>
            <li>
                Change name of parts to part-types (or something better if I can think of it).
            </li>
            <li>
                Change name of PartsForJobs/WorkOrder to JobParts and WorkOrderParts. 
            </li>
            <li>
                Change over the already defined columns from part-info/type to job parts and work order parts
            </li>
            <li>
                Stop user deletes from cascading.
            </li>
            <li>
                Help tab development.
            </li>
            <li>
                Add an @@endlas.com automatically so user doesn't have to type the last part of the email address.
            </li>
            <li>
                Put in checks for logins in every view that can access the db.
            </li>
            <li>
                Allow part-type image to be null (you don't have to set it when creating or editing).
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Known issues</div>
    <div>
        <ul>
            <li>
                Some views do not have login protection implemented yet.
            </li>
            <li>
                When creating or editing a part, adding a part image is not optional.
            </li>
        </ul>
    </div>
</p>
