<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Issues and todo";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>
    <div style="color:white;font-size:18px;">Todo</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                Look for a coded UI test library.
            </li>
            <li>
                Work on powder for job (might be done because can edit powder weight already).
            </li>
            <li>
                In static part info, make the thumbnail open details of the static part info.
            </li>
            <li>
                Put in checks for logins in every view that can access the db.
            </li>
            <li>
                Help tab development.
            </li>
            <li>
                Implement repository pattern for all entities and replace the direct context calls in the controllers.
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Known issues</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                Part count in PartsForJobs Index isn't displaying the correct value.
            </li>
            <li>
                Some views do not have login protection implemented yet.
            </li>
            <li>
                On the dropdown for job in part for job, the dropdown will show work orders in addition the the jobs.
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                In static part information: see if can get a thumbnail to appear with drawing number. Removed image title from index and approx weight.
            </li>
            <li>
                In parts for jobs, added thumbnail for the drawing image in the index.
            </li>
            <li>
                Added controller/views for CRUD operations for MachiningToolForWork. All column data displays properly.
            </li>
            <li>
                Added static powder information entity (class and db table).
            </li>
            <li>
                Added controller/views for CRUD operations static powder information.
            </li>
            <li>
                Updated the add line item (in powder orders) to use saved static powder info to reference the powder name.
            </li>
            <li>
                Added all powders action link under inventory. Shows user all powders with slightly different table schema than
                the one for a line item.
            </li>
            <li>
                Update system tests to accomidate the new static powder info entity.
            </li>
            <li>
                Restructured the powder under inventory. Now the user can initially click powder orders. Then the user can add a line item.
                After a line item exists for an order. Manage line items action link appears. Under this, the line item attributes can be
                edited. Next to each line item. An action link for managing powder bottles is available. When clicked, the user is shown
                a list of the powders for the line item. The user can edit the attiributes from this view. All action links to previous and
                unrelated views seem to work.
            </li>


        </ul>
    </div>
</p>
