<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Issues and todo";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>
    <div style="color:white;font-size:18px;">Todo</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                Help tab development.
            </li>
            <li>
                Put in checks for logins in every view that can access the db.
            </li>
            <li>
                Fix the edit view for PartForWork. Remove number of parts from the view.
            </li>
            <li>
                Machining tool: Add an InvoiceNumber (string)
            </li>
            <li>
                change the u to a 'mu' in Powder
            </li>
            <li>
                Powder: Change weight to automatically set to initial weight upon creation.
            </li>
            <li>
                In static part information: see if can get a thumbnail to appear with drawing number.. remove image title from index and approx weight.
                Make the thumbnail open details of the static part info.
            </li>
            <li>
                Parts for jobs: Find a good way to clean up and organize the index. 
            </li>
            <li>
                In part for job: give a way to start the suffix character at something other than 'A'.
            </li>
            <li>
                In part for job: on Index, make rows collapse into similar PartInfo foreign key references
            </li>
            <li>
                Work on tool for job and powder for job.
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Known issues</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                On PartForWork views, the edit view has number of parts as a field to edit. This field needs to be above 0, but
                the value isn't used for anything in the controller. If the number of parts set is valid, all the other changes will apply to the entity.
            </li>
            <li>
                Some views do not have login protection implemented yet.
            </li>
            <li>
                On the dropdown for job in part for job, the dropdown will show work orders in addition the the jobs.
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                Remove the time of day from PO Date (in Tools create/edit). When adding a tool, the time of day cannot be removed from the user input
                (because date time has to have that portion of the data filled out). I did change the display values to only show the mm/dd/yyyy, however.
            </li>
            <li>
                Change name of parts to part-types (or something better if I can think of it) -> PartInfo
            </li>
            <li>
                Change over the already defined columns from part-info/type to job parts and work order parts. Did major back-end refactor.
                Now parts for jobs/work orders is all stored in a table named parts. There is a discriminator column to differentiate.
            </li>
            <li>
                Fixed up all UI elements in existing views. Headers and text formatting is all correct now (I think).
            </li>
            <li>
                Allow part-info image to be null (you don't have to set it when creating or editing).
            </li>
            <li>
                Stop user deletes from cascading.
            </li>
            <li>
                Add rolling suffix for each part for a job or work order
                <ul>
                    <li>Goes: A, B, C, D, ... Y, Z, BA, BB, BC, .. ZY, ZZ, BAA, BAB, ...</li>
                </ul>
            </li>
            <li>
                When creating or editing a part, adding a part image and the title for it is now optional.
            </li>
            <li>
                Added an @@endlas.com automatically so user doesn't have to type the last part of the email address.
            </li>
            <li>
                Refactored the back-end to use data annotations rather than Fluent API. This greatly reduced the number of map files. It also
                makes the entity objects more descriptive.
            </li>
        </ul>
    </div>
</p>
