<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />

@{
    ViewData["Title"] = "Issues and todo";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>
    <div style="color:white;font-size:18px;">Todo</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
            <li>
                Create data-model for PowderOrder, LineItem, and Powder with annotations.
            </li>
            <li>
                Develop UI for creating a powder order with x number of line items.
            </li>
            <li>
                Develop UI for creating x number of bottles from an existing line item.
            </li>
            <li>
                Develop way to edit, look at details, and delete where applicable.
            </li>
            <li>
                Put in checks for logins in every view that can access the db.
            </li>
            <li>
                Help tab development.
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Known issues</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">
           
            <li>
                Some views do not have login protection implemented yet.
            </li>
            <li>
                On the dropdown for job in part for job, the dropdown will show work orders in addition the the jobs.
            </li>
        </ul>
    </div>
    <div style="color:white;font-size:18px;">Tasks in progress</div>
    <div>
        <ul style="font-size:14px;line-height:200%;">

            <li>
                Work on tool for job and powder for job.
            </li>
            <li>
                In static part information: see if can get a thumbnail to appear with drawing number.. remove image title from index and approx weight.
                Make the thumbnail open details of the static part info.
            </li>
        </ul>
    </div>
            <div style="color:white;font-size:18px;">Finished tasks</div>
            <div>
                <ul style="font-size:14px;line-height:200%;">
                    <li>
                        In part for job: give a way to start the suffix character at something other than 'A' for a new WorkId-StaticPartInfoId pair.
                    </li>
                    <li>
                        Parts for jobs: Find a good way to clean up and organize the index.
                        <ul>

                            <li>
                                Make unique rows clickable to open another view to show all the individual parts for the unique pair
                            </li>
                        </ul>
                    </li>
                    <li>
                        Parts for jobs: Find a good way to clean up and organize the index.
                    </li>
                    <li>
                        If user creates a batch of parts for a job that already has an existing WorkId-PartInfoId pair, the suffix
                        begins the lettering from the last suffix rather than beginning at 'A' again.
                    </li>
                    <li>
                        Parts for jobs: Find a good way to clean up and organize the index.
                        <ul>
                            <li>
                                Made index view only display unique WorkId and StaticPartInfoId pairs
                            </li>
                        </ul>
                    </li>
                    <li>
                        Changed the unit (um) for particle size in powder to micron.
                    </li>
                    <li>
                        Machining tool: Added an InvoiceNumber as attribute to entity class and to database schema.
                    </li>
                    <li>
                        Powder: Changed weight to automatically set to initial weight upon creation.
                    </li>
                    <li>
                        Fixed the edit view for PartForJob. Removed number of parts from the view. Works as intended.
                    </li>
                    <li>
                        Fixed the edit view for PartForWorkOrder. Removed number of parts from the view. Works as intended.
                    </li>
                </ul>
            </div>
</p>
