<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />
<style type="text/css" media="screen">

    #update-notes-li{
        margin-top:5px
    }

</style>
@{
    ViewData["Title"] = "Update notes";
    
}
<h1 class="display-4">@ViewData["Title"] - 4/23/2021</h1>
<p>
    @* ****** FINISHED TASKS ****** *@
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Added back to previous view all index views. Added back from viewing list under Parts for work/job/work order.
        </li>
        <li class="update-notes-li">
            PowderOrder -> Fixed UI issue vendor on Index, vendor on create/edit.
        </li>
        <li class="update-notes-li">
            Added quotes tab, quotes view to hold action links for creating a quote.
        </li>
        <li class="update-notes-li">
            PowderForParts -> Changed UI to round to 4 decimal places on index, and round to 5 on details and delete.
        </li>
        <li class="update-notes-li">
            PowderBottles -> Made bottle number + lot number unique. (change from only bottle num unique).
            Error message appears in UI if this condition is violated.
        </li>
        <li class="update-notes-li">
            MachiningTools -> Removed Batch PO cost from index.
            Replaced with tool description.
        </li>
        <li>
            Added reset feature to the powder to parts work flow. After a work item is selected, the user can click
            a reset button to allow for choosing of another work item. Added restart icon to the restart button. Button
            is located directly under the disabled work input field after the user gets parts. Works as intended.
        </li>
        <li class="update-notes-li">
            All powder -> added cost per lb. Exists as a non-mapped attribute in powder bottles. Created static
            methods to calculate bottle fee (based on tax and shipping), and to calculate the cost per pound of
            a particular bottle. Wrote unit tests to verify their efficacy. All tests pass. Appears to be working correctly.
        </li>
        <li class="update-notes-li">
            Added quotes action link to CRUD operations for quote. Can create a quote with an endlas number, edit the quote object, view details, and delete.
        </li>
    </ul>

 

    @* ****** TODO ****** *@
    <div style="color:white;font-size:18px;">Todo</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Link the creation of a job object dependent on referencing an existing quote. Work orders shouldn't reference a quote.
        </li>
        <li class="update-notes-li">
            Summary of powders by lot number.
        </li>
        <li class="update-notes-li">
            Start looking at making reports from database data.
        </li>
        <li class="update-notes-li">
            Write unit tests for all of the Utility methods. Write unit tests for the controllers.
        </li>
        <li class="update-notes-li">
            Implement repository pattern for more entities and replace the direct context calls in the controllers.
        </li>
        <li class="update-notes-li">
            Add interface for repoository classes so they can be tested with Moq.
        </li>
    </ul>

    @* ****** KNOWN ISSUES ****** *@
    <!--<div style="color:white;font-size:18px;">Bugs and known issues</div>
        <ul style="font-size:14px;line-height:200%;">
                <li class="update-notes-li">
            Make form minimum width a little wider for form pages.
        </li>
            <li class="update-notes-li">
                Part count is wrong after adding 2 PartsForWork (they both display the 2nd count).
            </li>
            <li class="update-notes-li">
                Some delete views have a UI flaw with the delete button not fitting on one line with action links.
            </li>
            <li class="update-notes-li">
                From LineItem, when the user clicks manage powders, the bottle powder name is correctly set. If the user
                navigates to a child view, and is forwarded back to index, the bottle powder name is no longer set.
            </li>
            <li class="update-notes-li">
                User isn't set for PowderOrders.
            </li>
            <li class="update-notes-li">
                Not all delete views have an indication whether other db items will be deleted as a result of the delete.
            </li>
            <li class="update-notes-li">
                When a static part info is created (it has a customer fk reference), and then the customer fk entry is deleted,
                an exception is thrown.
            </li>
            <li class="update-notes-li">
                Some views do not have login protection implemented yet.
            </li>
        </ul>-->
    @* ****** OTHER CONSIDERATIONS ****** *@
    <!--<div style="color:white;font-size:18px;">Other considerations</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Under create and edit view, mark elements that are optional/required.
        </li>
        <li class="update-notes-li">
            Implement start suffix for part batch initialization?
        </li>
        <li class="update-notes-li">
            Put a '?' icon on all data access level views (any view that allows user to interact with the db in any way). When clicked,
            show a description of the view's purpose within the context of data access and work flow.
        </li>
        <li class="update-notes-li">
            Look at activity logging (or just logging) in ASP.NET EF Core.
        </li>
        <li class="update-notes-li">
            Look for a coded UI test library.
        </li>
        <li class="update-notes-li">
            Consider paging and which views to implement paging with.
        </li>
        <li class="update-notes-li">
            Consider search bar on views with many rows to filter.
        </li>
        <li class="update-notes-li">
            Help tab development.
        </li>
        <li class="update-notes-li">
            Style upload buttons and enum referenced dropdowns.
        </li>
    </ul>-->
</p>
