<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />
<style type="text/css" media="screen">

    #update-notes-li{
        margin-top:5px
    }

</style>
@{
    ViewData["Title"] = "Update notes";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>
    @* ****** FINISHED TASKS ****** *@
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <ul style="font-size:14px;line-height:200%;">
     
        <li class="update-notes-li">
            Started the workflow for putting powder to batches of parts. Can select work. Then a screen is rendered with checkboxes for
            each part in the selected job. There is also a weight form. On submit, the workflow stops working correctly.
        </li>
    </ul>

    @* ****** TODO ****** *@
    <div style="color:white;font-size:18px;">Todo</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Create a choice between Blanking and Finishing when creating a MachiningToolForWork.
        </li>
        <li class="update-notes-li">
            On Edit with entity containing a file, make the file persist into the Edit view.
        </li>
        <li class="update-notes-li">
            Look into why password isn't being set properly.
        </li>
        <li class="update-notes-li">
            Add comment attribute (str) to MachiningToolForWork
        </li>
        <li class="update-notes-li">
            LineItem Index -> add number of powder bottles to index view.
        </li>
        <li class="update-notes-li">
            PowderOrder Index -> add number of LineItems to index view
        </li>
        <li class="update-notes-li">
            Add back action link to traverse: PowderOrder - LineItem - Powder
        </li>

        <li class="update-notes-li">
            Start looking at making reports from database data.
        </li>
        <li class="update-notes-li">
            Want predicatble dropdown ordering for all dropdowns.
        </li>
        <li class="update-notes-li">
            Powder for Part -> Add job select. Aka Powder for part, Powder for part batch, then add an option for something
            in between. Want to be able to distribute powder evenly across user defined set of powder bottles.
            <div>
                <br />
                1. Choose Job/WO <br />
                2. On job submit, populate a check box list with all PartsForWork that belong to that job. <br />
                3. Set powder <br />
                4. Set weight. On submit, the weight will be distributed evenly between all selected PartsForWork. <br />
                <br />
            </div>
        </li>
        <li class="update-notes-li">
            Redo Tools for work -> Tools for part
        </li>
        <li class="update-notes-li">
            Write unit tests for all of the Utility methods. Write unit tests for the controllers.
        </li>
        <li class="update-notes-li">
            Implement repository pattern for more entities and replace the direct context calls in the controllers.
        </li>
    </ul>

    @* ****** KNOWN ISSUES ****** *@
    <div style="color:white;font-size:18px;">Bugs and known issues</div>
        <ul style="font-size:14px;line-height:200%;">
            <li class="update-notes-li">
                Part count is wrong after adding 2 PartsForWork (they both display the 2nd count).
            </li>
            <li class="update-notes-li">
                Some delete views have a UI flaw with the delete button not fitting on one line with action links.
            </li>
            <li class="update-notes-li">
                From LineItem, when the user clicks manage powders, the bottle powder name is correctly set. If the user
                navigates to a child view, and is forwarded back to index, the bottle powder name is no longer set.
            </li>
            <li class="update-notes-li">
                User isn't set for PowderOrders.
            </li>
            <li class="update-notes-li">
                Not all delete views have an indication whether other db items will be deleted as a result of the delete.
            </li>
            <li class="update-notes-li">
                When a static part info is created (it has a customer fk reference), and then the customer fk entry is deleted,
                an exception is thrown.
            </li>
            <li class="update-notes-li">
                Some views do not have login protection implemented yet.
            </li>
        </ul>


    @* ****** OTHER CONSIDERATIONS ****** *@
    <div style="color:white;font-size:18px;">Other considerations</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Under create and edit view, mark elements that are optional/required.
        </li>
        <li class="update-notes-li">
            Implement start suffix for part batch initialization?
        </li>
        <li class="update-notes-li">
            Put a '?' icon on all data access level views (any view that allows user to interact with the db in any way). When clicked,
            show a description of the view's purpose within the context of data access and work flow.
        </li>
        <li class="update-notes-li">
            Look at activity logging (or just logging) in ASP.NET EF Core.
        </li>
        <li class="update-notes-li">
            Look for a coded UI test library.
        </li>
        <li class="update-notes-li">
            Consider paging and which views to implement paging with.
        </li>
        <li class="update-notes-li">
            Consider search bar on views with many rows to filter.
        </li>
        <li class="update-notes-li">
            Help tab development.
        </li>
        <li class="update-notes-li">
            Style upload buttons and enum referenced dropdowns.
        </li>
    </ul>
</p>
