<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />
<style type="text/css" media="screen">

    #update-notes-li{
        margin-top:5px
    }

</style>
@{
    ViewData["Title"] = "Update notes";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>
    @* ****** FINISHED TASKS ****** *@
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Added description and composition to static powder information. Added front-end UI elements for the new attributes in all views.
        </li>
    </ul>

    @* ****** TODO ****** *@
    <div style="color:white;font-size:18px;">Todo</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            StaticPowderInfo -> Add: PDF for specs (all optional).
        </li>
        <li class="update-notes-li">
            On Edit Powder save -> heading set heading
        </li>
        <li class="update-notes-li">
            LineItem -> Add Reinitialize line item in place of delete (remove delete option). On reinitialization, all existing children
            powder bottles are deleted. Add warining view to describe what else could be deleted when the item in interest is deleted.
        </li>
        <li class="update-notes-li">
            Want predicatble dropdown ordering for all dropdowns.
        </li>
        <li class="update-notes-li">
            All powders -> add sort by suffix functionality.
        </li>
        <li class="update-notes-li">
            Under Actions -> default date-times to today's date.
        </li>
        <li class="update-notes-li">
            MachiningTool -> Add InitToolCount column.
        </li>
        <li class="update-notes-li">
            Powder for Part -> Add job select. Aka Powder for part, Powder for part batch, then add an option for something 
            in between. Want to be able to distribute powder evenly across user defined set of powder bottles. 
        </li>

        <li class="update-notes-li">
            Redo Tools for work -> Tools for part
        </li>
        <li class="update-notes-li">
            Write unit tests for all of the Utility methods. Write unit tests for the controllers.
        </li>
        <li class="update-notes-li">
            Implement repository pattern for more entities and replace the direct context calls in the controllers.
        </li>
    </ul>

    @* ****** KNOWN ISSUES ****** *@
    <div style="color:white;font-size:18px;">Bugs and known issues</div>

        <ul style="font-size:14px;line-height:200%;">
            <li class="update-notes-li">
                Part count is wrong after adding 2 PartsForWork (they both display the 2nd count).
            </li>
            <li class="update-notes-li">
                Some delete views have a UI flaw with the delete button not fitting on one line with action links.
            </li>
            <li class="update-notes-li">
                From LineItem, when the user clicks manage powders, the bottle powder name is correctly set. If the user
                navigates to a child view, and is forwarded back to index, the bottle powder name is no longer set.
            </li>
            <li class="update-notes-li">
                User isn't set for PowderOrders.
            </li>
            <li class="update-notes-li">
                Not all delete views have an indication whether other db items will be deleted as a result of the delete.
            </li>
            <li class="update-notes-li">
                When a static part info is created (it has a customer fk reference), and then the customer fk entry is deleted,
                an exception is thrown.
            </li>
            <li class="update-notes-li">
                Some views do not have login protection implemented yet.
            </li>
        </ul>


    @* ****** OTHER CONSIDERATIONS ****** *@
    <div style="color:white;font-size:18px;">Other considerations</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Implement start suffix for part batch initialization?
        </li>
        <li class="update-notes-li">
            Put a '?' icon on all data access level views (any view that allows user to interact with the db in any way). When clicked,
            show a description of the view's purpose within the context of data access and work flow.
        </li>
        <li class="update-notes-li">
            Look at activity logging (or just logging) in ASP.NET EF Core.
        </li>
        <li class="update-notes-li">
            Look for a coded UI test library.
        </li>
        <li class="update-notes-li">
            Consider paging and which views to implement paging with.
        </li>
        <li class="update-notes-li">
            Consider search bar on views with many rows to filter.
        </li>
        <li class="update-notes-li">
            Help tab development.
        </li>
        <li class="update-notes-li">
            Style upload buttons and enum referenced dropdowns.
        </li>
    </ul>
</p>
