<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />
<style type="text/css" media="screen">

    #update-notes-li{
        margin-top:5px
    }

</style>
@{
    ViewData["Title"] = "Update notes";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>
    @* ****** FINISHED TASKS ****** *@
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            PowderForPart -> Db zeros out the powder weight if below threshold.
        </li>
        <li class="update-notes-li">
            Powder/LineItem -> removed bottle cost (put cost storage in line item).
        </li>
        <li class="update-notes-li">
            LineItem -> added weight total cost and LineItemNumber (str).
        </li>
        <li class="update-notes-li">
            Powder -> Index, Display, and Delete UIs weight values now round to 4 decimal places.
        </li>
        <li class="update-notes-li">
            PowderOrder Create -> added number of line items, removed add line item. Overall, better work flow implemented.
            On powder order create, the number of line items is chosen. When manage line items is clicked, the number of line
            items exists on the view in an uninitialized state. An action button is on the row of the uninitialized line item
            to initialize the line item. In initialization, the number of powder bottles is selected. Upon initialize, the user
            is forwarded back to the line item list again, except the row that was just initialized shows a manage powders action
            link.
        </li>
        <li class="update-notes-li">
            Relabled PO order price to Batch PO cost (MachiningTools).
        </li>
    </ul>

    @* ****** TODO ****** *@
    <div style="color:white;font-size:18px;">Todo</div>
    
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Add action tab to nav-bar. Put physical action representations here (many times has a for in the action link text).
        </li>
        <li class="update-notes-li">
            Write unit tests for all of the Utility methods. Write unit tests for the controllers.
        </li>
        <li class="update-notes-li">
            Implement repository pattern for more entities and replace the direct context calls in the controllers.
        </li>
    </ul>


    @* ****** KNOWN ISSUES ****** *@
    <div style="color:white;font-size:18px;">Bugs and known issues</div>

        <ul style="font-size:14px;line-height:200%;">
            <li class="update-notes-li">
                Part count is wrong after adding 2 PartsForWork (they both display the 2nd count).
            </li>
            <li class="update-notes-li">
                Some delete views have a UI flaw with the delete button not fitting on one line with action links.
            </li>
            <li class="update-notes-li">
                From LineItem, when the user clicks manage powders, the bottle powder name is correctly set. If the user
                navigates to a child view, and is forwarded back to index, the bottle powder name is no longer set.
            </li>
            <li class="update-notes-li">
                User isn't set for PowderOrders.
            </li>
            <li class="update-notes-li">
                Not all delete views have an indication whether other db items will be deleted as a result of the delete.
            </li>
            <li class="update-notes-li">
                When a static part info is created (it has a customer fk reference), and then the customer fk entry is deleted,
                an exception is thrown.
            </li>
            <li class="update-notes-li">
                Some views do not have login protection implemented yet.
            </li>
        </ul>


    @* ****** OTHER CONSIDERATIONS ****** *@
    <div style="color:white;font-size:18px;">Other considerations</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Implement start suffix for part batch initialization?
        </li>
        <li class="update-notes-li">
            Put a '?' icon on all data access level views (any view that allows user to interact with the db in any way). When clicked,
            show a description of the view's purpose within the context of data access and work flow.
        </li>
        <li class="update-notes-li">
            Look at activity logging (or just logging) in ASP.NET EF Core.
        </li>
        <li class="update-notes-li">
            Look for a coded UI test library.
        </li>
        <li class="update-notes-li">
            Consider paging and which views to implement paging with.
        </li>
        <li class="update-notes-li">
            Consider search bar on views with many rows to filter.
        </li>
        <li class="update-notes-li">
            Help tab development.
        </li>
        <li class="update-notes-li">
            Style upload buttons and enum referenced dropdowns.
        </li>
    </ul>
</p>
