<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />
<style type="text/css" media="screen">

    #update-notes-li{
        margin-top:5px
    }

</style>
@{
    ViewData["Title"] = "Update notes";
    
}
<h1 class="display-4">@ViewData["Title"] - 4/19/2021</h1>
<p>
    @* ****** FINISHED TASKS ****** *@
    <div style="color:white;font-size:18px;">Finished tasks</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Fixed issue in Job where after endlas number duplicate submit, customers not in dropdown.
        </li>
        <li class="update-notes-li">
            Fixed issue in WorkOrder where after endlas number duplicate submit, customers not in dropdown.
        </li>
        <li class="update-notes-li">
            Fixed issue in PowderBottle edit where powder bottle number unique wasn't being enforced.
        </li>
        <li class="update-notes-li">
            Machining Tool, Add vendor id (str) column. Added form for extra attribute in create and edit. Added display for
            new attribute under details and delete. Didn't add that to the index view.
        </li>
        <li class="update-notes-li">
            Fixed UI issue under jobs and work orders. Customer select dropdown wasn't labeled properly in all UI elements involving customer.
            Looks as it should.
        </li>
        <li class="update-notes-li">
            Under powder for parts, when creating a new object, only work items with parts will be displayed in the dropdown. Added ascending
            sort to the retrieved parts so they are ordered. Put check in to ensure the user chooses at least 1 part before submitting. If user
            doesn't choose at least 1, the user is forwarded back to the create page with a warning message under parts.
        </li>
        <li class="update-notes-li">
            Fixed issue in PowderForParts, Suffix Asc - Desc wasn't working. Now working as intended.
        </li>
        <li class="update-notes-li">
            Static powder info -> added estimated cost per pound column on back-end. Added UI forms and display elements for estimated cost
            per pound.
        </li>
        <li class="update-notes-li">
            Machining Tools -> added column on index for cost per machining tool. Added cost per machining tool on details and delete views
            as well. Amount is formatted to display as a dollar amount.
        </li>
    </ul>

    @* ****** TODO ****** *@
    <div style="color:white;font-size:18px;">Todo</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            All powders, put sorts on lot number and bottle number. 
        </li>
        <li class="update-notes-li">
            Powder for parts, put sort in for part drawing image and powder bottle.
        </li>
        <li class="update-notes-li">
            Consider adding back tto tab from index(s).
        </li>
        <li class="update-notes-li">
            Summary of powders by lot number.
        </li>
        <li class="update-notes-li">
            Make form minimum width a little wider for form pages.
        </li>
        <li class="update-notes-li">
            Start looking at making reports from database data.
        </li>
        <li class="update-notes-li">
            Redo Tools for work -> Tools for part???
        </li>
        <li class="update-notes-li">
            Write unit tests for all of the Utility methods. Write unit tests for the controllers.
        </li>
        <li class="update-notes-li">
            Implement repository pattern for more entities and replace the direct context calls in the controllers.
        </li>
    </ul>

    @* ****** KNOWN ISSUES ****** *@
    <!--<div style="color:white;font-size:18px;">Bugs and known issues</div>
        <ul style="font-size:14px;line-height:200%;">
            <li class="update-notes-li">
                Part count is wrong after adding 2 PartsForWork (they both display the 2nd count).
            </li>
            <li class="update-notes-li">
                Some delete views have a UI flaw with the delete button not fitting on one line with action links.
            </li>
            <li class="update-notes-li">
                From LineItem, when the user clicks manage powders, the bottle powder name is correctly set. If the user
                navigates to a child view, and is forwarded back to index, the bottle powder name is no longer set.
            </li>
            <li class="update-notes-li">
                User isn't set for PowderOrders.
            </li>
            <li class="update-notes-li">
                Not all delete views have an indication whether other db items will be deleted as a result of the delete.
            </li>
            <li class="update-notes-li">
                When a static part info is created (it has a customer fk reference), and then the customer fk entry is deleted,
                an exception is thrown.
            </li>
            <li class="update-notes-li">
                Some views do not have login protection implemented yet.
            </li>
        </ul>-->


    @* ****** OTHER CONSIDERATIONS ****** *@
    <!--<div style="color:white;font-size:18px;">Other considerations</div>
    <ul style="font-size:14px;line-height:200%;">
        <li class="update-notes-li">
            Under create and edit view, mark elements that are optional/required.
        </li>
        <li class="update-notes-li">
            Implement start suffix for part batch initialization?
        </li>
        <li class="update-notes-li">
            Put a '?' icon on all data access level views (any view that allows user to interact with the db in any way). When clicked,
            show a description of the view's purpose within the context of data access and work flow.
        </li>
        <li class="update-notes-li">
            Look at activity logging (or just logging) in ASP.NET EF Core.
        </li>
        <li class="update-notes-li">
            Look for a coded UI test library.
        </li>
        <li class="update-notes-li">
            Consider paging and which views to implement paging with.
        </li>
        <li class="update-notes-li">
            Consider search bar on views with many rows to filter.
        </li>
        <li class="update-notes-li">
            Help tab development.
        </li>
        <li class="update-notes-li">
            Style upload buttons and enum referenced dropdowns.
        </li>
    </ul>-->
</p>
