@using EndlasNet.Web.Models;
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Work";
}
@if (Context.Session.GetString("userId") != null)
{
    <h1 class="display-4">Work</h1>

    <body>
        <div>
            <a style="font-size:x-large;" class="navbar-toggler" type="button" asp-action="Index" asp-controller="Customers">Customers</a>
            <ul>
                <li>
                    <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="StaticPartInfoes">Part information</a>
                </li>
                <li>
                    <span>
                        <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Jobs" asp-route-workType="@WorkType.Job">Jobs</a> |
                        <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Jobs" asp-route-workType="@WorkType.WorkOrder">Work orders</a> |
                        <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Jobs" >All work</a>
                    </span>
    
                    <ul>
                        <li>
                            <span>
                                <a class="navbar-toggler" type="button" asp-action="Work" asp-controller="Home">Parts for jobs</a> |
                                <a class="navbar-toggler" type="button" asp-action="Work" asp-controller="Home">Parts for work orders</a> |
                                <a class="navbar-toggler" type="button" asp-action="Work" asp-controller="Home">All parts for work</a>
                            </span>
                        </li>
                    </ul>         
            </ul>
        </div>
        <div class="container">

        </div>

    </body>
}
else
{
    <div>
        Please
        <a asp-area="" asp-controller="Login" asp-action="Index">
            Login
        </a>
    </div>
}

