@{
    ViewData["Title"] = "Environment";
}
<h1 class="display-4">Environment Data</h1>
<body>
    <div>
        <ul>
            <li>
                <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Environments">Temperature data</a>
            </li>
            <li>
                <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Environments">Humidity data</a>
            </li>
            <li>
                <a class="navbar-toggler" type="button" asp-action="Index" asp-controller="Environments">Job environments</a>
            </li>

        </ul>
    </div>
    <div class="container">

    </div>

</body>


