@model EndlasNet.Data.PartForWork

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Part for work</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PartForWorkId" />
            <input type="hidden" asp-for="WorkId" class="form-control" />
            <input type="hidden" asp-for="ImageBytes" />
            <input type="hidden" asp-for="WorkId" />
            <input type="hidden" asp-for="Work" />
            <div class="form-group">
                <label asp-for="StaticPartInfoId" class="control-label"></label>
                <select asp-for="StaticPartInfoId" class="form-control" asp-items="ViewBag.StaticPartInfoId"></select>
                <span asp-validation-for="StaticPartInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suffix" class="control-label"></label>
                <input asp-for="Suffix" class="form-control" />
                <span asp-validation-for="Suffix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumParts" class="control-label"></label>
                <input asp-for="NumParts" class="form-control" />
                <span asp-validation-for="NumParts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionDescription" class="control-label"></label>
                <input asp-for="ConditionDescription" class="form-control" />
                <span asp-validation-for="ConditionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitWeight" class="control-label"></label>
                <input asp-for="InitWeight" class="form-control" />
                <span asp-validation-for="InitWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CladdedWeight" class="control-label"></label>
                <input asp-for="CladdedWeight" class="form-control" />
                <span asp-validation-for="CladdedWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishedWeight" class="control-label"></label>
                <input asp-for="FinishedWeight" class="form-control" />
                <span asp-validation-for="FinishedWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessingNotes" class="control-label"></label>
                <input asp-for="ProcessingNotes" class="form-control" />
                <span asp-validation-for="ProcessingNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div></div>
                @if (Model.ImageBytes != null)
                {
                    <label asp-for="ImageFile" class="control-label">Current image:&nbsp;</label>
                    <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Image" style="max-height:50px;max-width:120px" />
                    <br /><br />
                    <span>
                        Clear image
                        <input asp-for="ClearImg" class="form-check-inline" />
                    </span>
                    <br />
                }
                else
                {
                    <label asp-for="ImageFile" class="control-label"></label>

                }
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
