@model EndlasNet.Data.Job

@{
    ViewData["Title"] = "Details";
}
<style type="text/css" media="screen">

    .my-custom-img {
        max-width: 60px;
        max-height: 60px;
    }
</style>

<h1>Details</h1>
<div>
    @await Html.PartialAsync("_DetailsAndDelete", Model)
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.WorkId">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
