@model EndlasNet.Data.StaticPowderInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Static powder information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PowderName" class="control-label"></label>
                <input asp-for="PowderName" class="form-control" />
                <span asp-validation-for="PowderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Density" class="control-label"></label>
                <input asp-for="Density" class="form-control" />
                <span asp-validation-for="Density" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstCostPerLb" class="control-label"></label>
                <input asp-for="EstCostPerLb" class="form-control" />
                <span asp-validation-for="EstCostPerLb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Composition" class="control-label"></label>
                <input asp-for="Composition" class="form-control" />
                <span asp-validation-for="Composition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowRateSlope" class="control-label"></label>
                <input asp-for="FlowRateSlope" class="form-control" />
                <span asp-validation-for="FlowRateSlope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlowRateYIntercept" class="control-label"></label>
                <input asp-for="FlowRateYIntercept" class="form-control" />
                <span asp-validation-for="FlowRateYIntercept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompositionFile" class="control-label"></label>
                <div></div>
                <input asp-for="CompositionFile" accept="application/pdf" />
                <span asp-validation-for="CompositionFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
