@model EndlasNet.Data.StaticPartInfo

<div class="form-group">
    <label asp-for="DrawingNumber" class="control-label"></label>
    <input asp-for="DrawingNumber" class="form-control" />
    <span asp-validation-for="DrawingNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ApproxWeight" class="control-label"></label>
    <input asp-for="ApproxWeight" class="form-control" />
    <span asp-validation-for="ApproxWeight" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PartDescription" class="control-label"></label>
    <input asp-for="PartDescription" class="form-control" />
    <span asp-validation-for="PartDescription" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ImageName" class="control-label"></label>
    <input asp-for="ImageName" class="form-control" />
    <span asp-validation-for="ImageName" class="text-danger"></span>
</div>

