@using EndlasNet.Data;
@using Microsoft.AspNetCore.Http;

@model EndlasNet.Data.StaticPartInfo

@{
    ViewData["Title"] = "Edit";

}

<h1>Edit</h1>

<h4>Static part information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StaticPartInfoId" />
            <input type="hidden" asp-for="BlankDrawingPdfBytes" />
            <input type="hidden" asp-for="FinishDrawingPdfBytes" />
            <input type="hidden" asp-for="DrawingImageBytes" />
            <div class="form-group">
                <label asp-for="DrawingNumber" class="control-label"></label>
                <input asp-for="DrawingNumber" class="form-control" />
                <span asp-validation-for="DrawingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproxWeight" class="control-label"></label>
                <input asp-for="ApproxWeight" class="form-control" />
                <span asp-validation-for="ApproxWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartDescription" class="control-label"></label>
                <input asp-for="PartDescription" class="form-control" />
                <span asp-validation-for="PartDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div></div>
                @if (Model.DrawingImageBytes != null)
                {
                    <label asp-for="ImageFile" class="control-label">Current image:&nbsp;</label>
                    <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Drawing Image" style="max-height:50px;max-width:120px" />
                    <br /><br />
                    <span>
                        Clear image
                        <input asp-for="ClearImg" class="form-check-inline"/>
                    </span>
                    <br />
                }
                else
                {
                    <label asp-for="ImageFile" class="control-label"></label>

                }
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                @if (Model.BlankDrawingPdfBytes != null)
                {
                    <label asp-for="BlankDrawingFile" class="control-label">Blank drawing:&nbsp;</label>

                    @Html.ActionLink(
                        linkText: "Download blank PDF",
                        actionName: "DownloadBlankPdf",
                        controllerName: "StaticPartInfoes",
                        routeValues: new { id = ViewBag.id },
                        htmlAttributes: null)
                    <br />
                    <span>
                        Clear blank file
                        <input asp-for="ClearBlank" class="form-check-inline" />
                    </span>

                }
                else
                {
                    <label asp-for="BlankDrawingFile" class="control-label"></label>

                }                <div></div>

                <input asp-for="BlankDrawingFile" accept="application/pdf" />
                <span asp-validation-for="BlankDrawingFile" class="text-danger"></span>
                <br /><br />
            </div>
            <div class="form-group">
                @if (Model.FinishDrawingPdfBytes != null)
                {
                    <label asp-for="FinishDrawingFile" class="control-label">Finish drawing:&nbsp;</label>
                                    @Html.ActionLink(
                    linkText: "Download finish PDF",
                    actionName: "DownloadFinishPdf",
                    controllerName: "StaticPartInfoes",
                    routeValues: new { id = ViewBag.id },
                    htmlAttributes: null)
                    <br />
                    <span>
                        Clear finish file
                        <input asp-for="ClearFinish" class="form-check-inline" />
                    </span>
                }
                else
                {
                    <label asp-for="FinishDrawingFile" class="control-label"></label>

                }                <div></div>
                <input asp-for="FinishDrawingFile" accept="application/pdf" />
                <span asp-validation-for="FinishDrawingFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
